.aimg-wrap{
	.columns {
		display: flex;
		gap: 20px;

		.column {
			width: 100%;
		}

		.column-left {
			width: 60%;
		}

		.column-right {
			width: 40%;
		}
	}

	@media (max-width: 768px) {
		.columns {
			flex-direction: column;

			.column-left, .column-right {
				width: 100%;
			}
		}
	}
}
// Card style.
.aicw-card{
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	margin-bottom: 1.25rem;
	&__title{
		margin: 0;
	}
	&__header{
		padding: 10px 20px;
		border-bottom: 1px solid #DDDDDD;
	}
	&__body{
		padding: 10px 20px;
	}
	&__footer{
		padding: 10px 20px;
	}
}

// Form styles.
#aimg-form{
	@media (max-width: 768px) {
		.form-table, .form-table thead, .form-table tbody, .form-table th, .form-table td, .form-table tr {
			display: block;
			width: 100%;
		}

		.form-table th {
			text-align: left;
			padding-top: 1em;
		}
	}
}

// Preview image styles.
.preview-image{
	border: 1px solid #cccccc;
	padding: 5px;
	background: #ffffff;

	img{
		width: 100%;
		height: auto;
	}
}

// Overlay images styles.
.aimg-overlay-images{
	h4{
		margin: 0 0 10px;
	}
	&__items{
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
	}

	&__item{
		position: relative;
		img{
			width: 60px;
			height: 60px;
		}
	}

	// Overly item styles.
	.remove-overlay{
		position: absolute;
		top: 2px;
		right: 2px;
		background-color: #f00000;
		color: #ffffff;
		padding: 0 4px;
		min-height: inherit;
		line-height: inherit;
		font-size: 12px;
	}
}
